@using PC.BL;
@model ProductDetailsVM;

<table class="m-5">
<tbody>
    <tr>
        <th scope="col">Id</th>
        <td>@Model.ProductID</td>
    </tr>
        <tr>
            <th scope="col">Product Name</th>
            <td>@Model.ProductName</td>
        </tr>
        <tr>
            <th scope="col">Price</th>
            <td>@Model.Price</td>
        </tr>
        <tr>
            <th scope="col">Category</th>
            <td>@Model.Category</td>
        </tr>
        <tr>
            <th scope="col">Creation Date</th>
            <td>@Model.CreationDate</td>
        </tr>
        <tr>
            <th scope="col">Start Date</th>
            <td>@Model.StartDate</td>
        </tr>
        <tr>
            <th scope="col">Duration</th>
            <td>@Model.Duration</td>
        </tr>
        <tr>
            <th scope="col">Created By</th>
            <td>@Model.CreatedBy</td>
        </tr>
</tbody>
</table>
